---
import { Container } from "@littlesticks/odyssey-theme-components";
import Logo from '../../components/Logo.astro';

const { footerSocials, background, color} = Astro.props;
---

<footer style={background && `--footer-bg:${background}; --footer-color:${color}`}>
  <Container>
  <div class="footer-grid__container">
    <div class="footer-brand__container">
      <div class="logo mx-auto pr-2">
        <slot name="logo"><Logo/>
        </slot>
      </div>
      <ul class="footer-socials__list">
          {footerSocials.map(social => (
            <li class="footer-socials__item">
              <a href={social.url} aria-label={social.label} target="_blank" rel="noopener noreferrer" class="footer-socials__link" set:html={social.icon}>                
              </a>            
            </li>
          ))}
      </ul>
      <div class="mt-12">
      <p class="footer-socials__list text-white text-xl tracking-widest justify-center">Contact Us</p>
      <p class="footer-socials__list text-white text-xl tracking-widest justify-center">+385 99 828 8642</p>
      </div>
    </div>
    </div>
  </Container>
</footer>

<style>
  .logo{
    width: 15%;
  }
  footer {
    --footer-bg: var(--theme-primary);
    --footer-color: var(--theme-on-primary);
    min-height: 100vh;
    background-color: var(--footer-bg);
    background: url(/assets/images/footer/footer-bg.jpg) no-repeat center center fixed;
    color: var(--footer-color);
    border-top-left-radius: var(--theme-shape-radius);
    border-top-right-radius: var(--theme-shape-radius);
  }
  .footer-grid__container {
    padding: 5vh 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .footer-socials__list {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .footer-socials__item {
    margin-right: 0.5rem;
  }
  .footer-brand__container {
      grid-column: 1 / span 2;
    }
  .footer-socials__list {
      grid-column: 1 / span 2;
    }

  @media (max-width: 1000px) {
    .logo{
    width: 20%;
  }
}
  @media (max-width: 756px) {
    .logo{
    width: 40%;
  }
}
</style>